* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 20px 40px;
  width: 100%;
  margin-bottom: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.276);
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  list-style: none;
  margin: 0 15px;
  font-size: 23px;
  color: rgb(0, 0, 0);
}

li .lien {
  text-decoration: none;
  color: rgb(0, 0, 0);

}

li .lien-active {
  color: orange;
}